* {
  /*font-family: "Assistant", sans-serif;*/
  font-family: Nunito Sans, sans-serif;
  font-size: 13px;
}

#__next {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  color: #444;
  background: #f2f4f7;
}

.cursor-pointer {
  cursor: pointer;
}
